body {
    background-color: #C1D8C3;
    font-family: 'Poppins', sans-serif;
    padding: 30px;
}
.review-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
.rating {
    color: #ffc107; /* warna kuning bintang */
    font-size: 1.2rem;
}
header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.btn-back {
    text-decoration: none;
}
